/* Empty. Add your own CSS if you like */
div.footer-button button.button.button-full {
  width:100%;
  margin-top: 0
}
/*
#modal-view {
  width: 80%;
  heigth: 60%;
  min-height: 0;
  max-height: 250px;
  top: 20%;
  left: 10%;
  right: 10%;
  bottom: 20%;
}
*/

.slider {
  height: 100vh;
}

.slider-slide {

}

.slider-slide img {
  position: absolute;
  width: 100%;
  margin-top: 15%;
}

#delete-button {
  position: absolute;
  color: white;
  height: 7%;
  width: 33%;
  margin-left: 33%;
  bottom: 11%;
  background-color: #ff0066;
  border-radius: 10px;
}

#modal-div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.transparent {
  background-color: rgba(0,0,0,0);
}


.alphabackground {
  background-color: rgba(0,0,0,0.95);
}


progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

  width: 250px;
  height: 20px;
}


progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
    rgba(255, 255, 255, .25),
    rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
